/* Home.css */

.home-container {
    text-align: center;
    padding: 50px;
  }
  
  .home-heading {
    font-size: 3em;
    color: #333;
    margin-bottom: 20px;
  }
  
  /* Adjust the styles as needed */
  