/* LogIn.css */

.flex-login {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
  }
  
  /* You can adjust the styles for the left and right sections as needed */
  .left-section {
    text-align: center;
  }
  
  .right-section {
    position: relative;
  }
  
  .frame-img {
    position: absolute;
    top: 0;
    left: 30%;
    width: 40%;
    height: 105%;
    z-index: -1;
  }
  
  .login-img {
    width: 80%; /* Adjust the image size as needed */
    height: 50%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  